<div class="container">
    <div class="column1">
        {{name}}
        {{genre}}
        {{description}}
    </div>
    <div class="column2">
        <img src="/src/img/{{image}}" >
        {{price}}
    </div>
    

</div>